<a href="https://colab.research.google.com/github/ilhamachmada/uts-data-science/blob/main/uts_praktikum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from numpy import mean
from numpy import absolute
from numpy import sqrt
from numpy import nan
from sklearn import preprocessing
from sklearn import metrics
from scipy.stats import zscore
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import plot_confusion_matrix
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, accuracy_score, make_scorer

In [ ]:
df = pd.read_csv('titanic.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
cols = ['Name', 'Ticket', 'Cabin']

In [ ]:
df = df.drop(cols,axis=1)

In [ ]:
df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [ ]:
replace_map = {'Sex':{'male':1, 'female':0},
               'Embarked':{'S':0, 'C':1, 'Q':2}
}
df = df.replace(replace_map)

In [ ]:
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500       0.0
1            2         1       1    0  38.0      1      0  71.2833       1.0
2            3         1       3    0  26.0      0      0   7.9250       0.0
3            4         1       1    0  35.0      1      0  53.1000       0.0
4            5         0       3    1  35.0      0      0   8.0500       0.0

In [ ]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64

In [ ]:
df['Age'] = df.groupby('Survived')['Age'].transform(lambda x: x.fillna(x.mean()))
df['Embarked'] = df.groupby('Survived')['Embarked'].transform(lambda x: x.fillna(x.mean()))

In [ ]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [ ]:
X = df.drop(columns=['Survived'])
y=df['Survived'].values

In [ ]:
X.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1       3    1  22.0      1      0   7.2500       0.0
1            2       1    0  38.0      1      0  71.2833       1.0
2            3       3    0  26.0      0      0   7.9250       0.0
3            4       1    0  35.0      1      0  53.1000       0.0
4            5       3    1  35.0      0      0   8.0500       0.0

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler()
X = min_max_scaler.fit_transform(X)
#X.apply(zscore)

In [ ]:
X_train_split, X_test_split, y_train_split, y_test_split = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
kf = KFold(n_splits=5,shuffle=True,random_state=42)

In [ ]:
#knn
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train_split,y_train_split)
y_pred_knn = knn.predict(X_test_split)

In [ ]:
knn_acc = accuracy_score(y_test_split,y_pred_knn)
knn_roc = roc_auc_score(y_test_split, y_pred_knn)
knn_prec = precision_score(y_test_split, y_pred_knn)
knn_recall = recall_score(y_test_split, y_pred_knn)
#knn_spec = recall_score(y_test_split, y_pred_knn,pos_label=2)
knn_f1 = f1_score(y_test_split, y_pred_knn)
print('Pengukuran menggunakan train_test_split dengan sklearn.metrics')
print('a. Accuracy       :',knn_acc)
print('b. ROC-Curve Score:',knn_roc)
print('c. Precision      :',knn_prec)
print('d. Recall         :',knn_recall)
print('e. Sensitivity    :',knn_recall)
print('f. Specificity    : (tidak tersedia di sklearn.metrics)')
print('g. F1-Measure     :',knn_f1)

Pengukuran menggunakan train_test_split dengan sklearn.metrics
a. Accuracy       : 0.7835820895522388
b. ROC-Curve Score: 0.7664543524416135
c. Precision      : 0.7789473684210526
d. Recall         : 0.6666666666666666
e. Sensitivity    : 0.6666666666666666
f. Specificity    : (tidak tersedia di sklearn.metrics)
g. F1-Measure     : 0.7184466019417475

In [ ]:
matrix = confusion_matrix(y_test_split,y_pred_knn)
print('Confusion matrix')
print(matrix)
tp = (matrix[0][0])
fp = (matrix[0][1])
fn = (matrix[1][0])
tn = (matrix[1][1])
print("TP = ",tp)
print("FP = ",fp)
print("FN = ",fn)
print("TN = ",tn,'\n')
recall = tp/(tp+fn)
specifity = tn/(tn+fp)
accuracy = (tp+tn)/(tp+fn+fp+tn)
precision = tp/(tp+fp)
f1 = 2*(precision*recall)/(precision+recall)
print('Pengukuran menggunakan perhitungan manual\ndengan confusion matrix (train_test_split)')
print('a. Accuracy       :',accuracy)
print('b. ROC-Curve Score:(tidak ada formula yang pasti)')
print('c. Precision      :',precision)
print('d. Recall         :',recall)
print('e. Sensitivity    :',recall)
print('f. Specificity    :',specifity)
print('g. F1-Measure     :',f1)

Confusion matrix
[[136  21]
 [ 37  74]]
TP =  136
FP =  21
FN =  37
TN =  74

Pengukuran menggunakan perhitungan manual
dengan confusion matrix (train_test_split)
a. Accuracy       : 0.7835820895522388
b. ROC-Curve Score:(tidak ada formula yang pasti)
c. Precision      : 0.8662420382165605
d. Recall         : 0.7861271676300579
e. Sensitivity    : 0.7861271676300579
f. Specificity    : 0.7789473684210526
g. F1-Measure     : 0.8242424242424242

In [ ]:
print(classification_report(y_test_split,y_pred_knn))

              precision    recall  f1-score   support

           0       0.79      0.87      0.82       157
           1       0.78      0.67      0.72       111

    accuracy                           0.78       268
   macro avg       0.78      0.77      0.77       268
weighted avg       0.78      0.78      0.78       268

In [ ]:
knn_acc_cv = cross_val_score(knn, X, y, cv=kf, scoring='accuracy')
try:
    knn_roc_cv = cross_val_score(knn, X, y, cv=kf, scoring='roc_auc')
except ValueError:
    knn_roc_cv = 0
knn_prec_cv = cross_val_score(knn, X, y, cv=kf, scoring='precision')
knn_recall_cv = cross_val_score(knn, X, y, cv=kf, scoring='recall')
knn_f1_cv = cross_val_score(knn, X, y, cv=kf, scoring='f1')
print('Pengukuran K-fold menggunakan cross_val_score')
print('a. Accuracy       :',mean(knn_acc_cv))
print('b. ROC-Curve Score:',mean(knn_roc_cv))
print('c. Precision      :',mean(knn_prec_cv))
print('d. Recall         :',mean(knn_recall_cv))
print('e. Sensitivity    :',mean(knn_recall_cv))
print('f. Specificity    :(tidak tersedia dalam scoring cross_val_score)')
print('g. F1-Measure     :',mean(knn_f1_cv))

Pengukuran K-fold menggunakan cross_val_score
a. Accuracy       : 0.7777854497520555
b. ROC-Curve Score: 0.8135917629224327
c. Precision      : 0.7431154444495787
d. Recall         : 0.6463426636560965
e. Sensitivity    : 0.6463426636560965
f. Specificity    :(tidak tersedia dalam scoring cross_val_score)
g. F1-Measure     : 0.6889061669573607

In [ ]:
####################################################################

In [ ]:
#naive bayes
gnb = GaussianNB()
gnb.fit(X_train_split, y_train_split)
y_pred_gnb = gnb.predict(X_test_split)

In [ ]:
gnb_acc = accuracy_score(y_test_split,y_pred_gnb)
gnb_roc = roc_auc_score(y_test_split, y_pred_gnb)
gnb_prec = precision_score(y_test_split, y_pred_gnb)
gnb_recall = recall_score(y_test_split, y_pred_gnb)
#gnb_spec = recall_score(y_test_split, y_pred_gnb,pos_label=2)
gnb_f1 = f1_score(y_test_split, y_pred_gnb)
print('Pengukuran menggunakan train_test_split dengan sklearn.metrics')
print('a. Accuracy       :',gnb_acc)
print('b. ROC-Curve Score:',gnb_roc)
print('c. Precision      :',gnb_prec)
print('d. Recall         :',gnb_recall)
print('e. Sensitivity    :',gnb_recall)
print('f. Specificity    : (tidak tersedia di sklearn.metrics)')
print('g. F1-Measure     :',gnb_f1)

Pengukuran menggunakan train_test_split dengan sklearn.metrics
a. Accuracy       : 0.7985074626865671
b. ROC-Curve Score: 0.7910713261031733
c. Precision      : 0.7614678899082569
d. Recall         : 0.7477477477477478
e. Sensitivity    : 0.7477477477477478
f. Specificity    : (tidak tersedia di sklearn.metrics)
g. F1-Measure     : 0.7545454545454546

In [ ]:
matrix = confusion_matrix(y_test_split,y_pred_gnb)
print('Confusion matrix')
print(matrix)
tp = (matrix[0][0])
fp = (matrix[0][1])
fn = (matrix[1][0])
tn = (matrix[1][1])
print("TP = ",tp)
print("FP = ",fp)
print("FN = ",fn)
print("TN = ",tn,'\n')
recall = tp/(tp+fn)
specifity = tn/(tn+fp)
accuracy = (tp+tn)/(tp+fn+fp+tn)
precision = tp/(tp+fp)
f1 = 2*(precision*recall)/(precision+recall)
#t = tp / 2*(tp+fn)
#u = tn / 2*(tn+fp)
#roc = tp*fp+2*tp*tn+2*fn*tn/(tp+fn)*(fp+tn)
print('Pengukuran menggunakan perhitungan manual\ndengan confusion matrix (train_test_split)')
print('a. Accuracy       :',accuracy)
print('b. ROC-Curve Score:(tidak ada formula yang pasti)')
print('c. Precision      :',precision)
print('d. Recall         :',recall)
print('e. Sensitivity    :',recall)
print('f. Specificity    :',specifity)
print('g. F1-Measure     :',f1)

Confusion matrix
[[131  26]
 [ 28  83]]
TP =  131
FP =  26
FN =  28
TN =  83

Pengukuran menggunakan perhitungan manual
dengan confusion matrix (train_test_split)
a. Accuracy       : 0.7985074626865671
b. ROC-Curve Score:(tidak ada formula yang pasti)
c. Precision      : 0.8343949044585988
d. Recall         : 0.8238993710691824
e. Sensitivity    : 0.8238993710691824
f. Specificity    : 0.7614678899082569
g. F1-Measure     : 0.829113924050633

In [ ]:
print(classification_report(y_test_split,y_pred_gnb))

              precision    recall  f1-score   support

           0       0.82      0.83      0.83       157
           1       0.76      0.75      0.75       111

    accuracy                           0.80       268
   macro avg       0.79      0.79      0.79       268
weighted avg       0.80      0.80      0.80       268

In [ ]:
gnb_acc_cv = cross_val_score(gnb, X, y, cv=kf, scoring='accuracy')
try:
    gnb_roc_cv = cross_val_score(gnb, X, y, cv=kf, scoring='roc_auc')
except ValueError:
    gnb_roc_cv = 0
gnb_prec_cv = cross_val_score(gnb, X, y, cv=kf, scoring='precision')
gnb_recall_cv = cross_val_score(gnb, X, y, cv=kf, scoring='recall')
gnb_f1_cv = cross_val_score(gnb, X, y, cv=kf, scoring='f1')
print('Pengukuran K-fold menggunakan cross_val_score')
print('a. Accuracy       :',mean(gnb_acc_cv))
print('b. ROC-Curve Score:',mean(gnb_roc_cv))
print('c. Precision      :',mean(gnb_prec_cv))
print('d. Recall         :',mean(gnb_recall_cv))
print('e. Sensitivity    :',mean(gnb_recall_cv))
print('f. Specificity    :(tidak tersedia dalam scoring cross_val_score)')
print('g. F1-Measure     :',mean(gnb_f1_cv))

Pengukuran K-fold menggunakan cross_val_score
a. Accuracy       : 0.7923859142552256
b. ROC-Curve Score: 0.8361652714523867
c. Precision      : 0.7370579589329589
d. Recall         : 0.7124995913055614
e. Sensitivity    : 0.7124995913055614
f. Specificity    :(tidak tersedia dalam scoring cross_val_score)
g. F1-Measure     : 0.7244639578018511

In [ ]:
########################################################3

In [ ]:
#decision tree
dt = DecisionTreeClassifier()
dt.fit(X_train_split, y_train_split)
y_pred_dt = dt.predict(X_test_split)

In [ ]:
dt_acc = accuracy_score(y_test_split,y_pred_dt)
dt_roc = roc_auc_score(y_test_split, y_pred_dt)
dt_prec = precision_score(y_test_split, y_pred_dt)
dt_recall = recall_score(y_test_split, y_pred_dt)
#dt_spec = recall_score(y_test_split, y_pred_dt,pos_label=2)
dt_f1 = f1_score(y_test_split, y_pred_dt)
print('Pengukuran menggunakan train_test_split dengan sklearn.metrics')
print('a. Accuracy       :',dt_acc)
print('b. ROC-Curve Score:',dt_roc)
print('c. Precision      :',dt_prec)
print('d. Recall         :',dt_recall)
print('e. Sensitivity    :',dt_recall)
print('f. Specificity    : (tidak tersedia di sklearn.metrics)')
print('g. F1-Measure     :',dt_f1)

Pengukuran menggunakan train_test_split dengan sklearn.metrics
a. Accuracy       : 0.8097014925373134
b. ROC-Curve Score: 0.8006254662305617
c. Precision      : 0.7830188679245284
d. Recall         : 0.7477477477477478
e. Sensitivity    : 0.7477477477477478
f. Specificity    : (tidak tersedia di sklearn.metrics)
g. F1-Measure     : 0.7649769585253458

In [ ]:
matrix = confusion_matrix(y_test_split,y_pred_dt)
print('Confusion matrix')
print(matrix)
tp = (matrix[0][0])
fp = (matrix[0][1])
fn = (matrix[1][0])
tn = (matrix[1][1])
print("TP = ",tp)
print("FP = ",fp)
print("FN = ",fn)
print("TN = ",tn,'\n')
recall = tp/(tp+fn)
specifity = tn/(tn+fp)
accuracy = (tp+tn)/(tp+fn+fp+tn)
precision = tp/(tp+fp)
f1 = 2*(precision*recall)/(precision+recall)
#t = tp / 2*(tp+fn)
#u = tn / 2*(tn+fp)
#roc = tp*fp+2*tp*tn+2*fn*tn/(tp+fn)*(fp+tn)
print('Pengukuran menggunakan perhitungan manual\ndengan confusion matrix (train_test_split)')
print('a. Accuracy       :',accuracy)
print('b. ROC-Curve Score:(tidak ada formula yang pasti)')
print('c. Precision      :',precision)
print('d. Recall         :',recall)
print('e. Sensitivity    :',recall)
print('f. Specificity    :',specifity)
print('g. F1-Measure     :',f1)

Confusion matrix
[[134  23]
 [ 28  83]]
TP =  134
FP =  23
FN =  28
TN =  83

Pengukuran menggunakan perhitungan manual
dengan confusion matrix (train_test_split)
a. Accuracy       : 0.8097014925373134
b. ROC-Curve Score:(tidak ada formula yang pasti)
c. Precision      : 0.8535031847133758
d. Recall         : 0.8271604938271605
e. Sensitivity    : 0.8271604938271605
f. Specificity    : 0.7830188679245284
g. F1-Measure     : 0.84012539184953

In [ ]:
print(classification_report(y_test_split,y_pred_dt))

              precision    recall  f1-score   support

           0       0.83      0.85      0.84       157
           1       0.78      0.75      0.76       111

    accuracy                           0.81       268
   macro avg       0.81      0.80      0.80       268
weighted avg       0.81      0.81      0.81       268

In [ ]:
dt_acc_cv = cross_val_score(dt, X, y, cv=kf, scoring='accuracy')
try:
    dt_roc_cv = cross_val_score(dt, X, y, cv=kf, scoring='roc_auc')
except ValueError:
    dt_roc_cv = 0
dt_prec_cv = cross_val_score(dt, X, y, cv=kf, scoring='precision')
dt_recall_cv = cross_val_score(dt, X, y, cv=kf, scoring='recall')
dt_f1_cv = cross_val_score(dt, X, y, cv=kf, scoring='f1')
print('Pengukuran K-fold menggunakan cross_val_score')
print('a. Accuracy       :',mean(dt_acc_cv))
print('b. ROC-Curve Score:',mean(dt_roc_cv))
print('c. Precision      :',mean(dt_prec_cv))
print('d. Recall         :',mean(dt_recall_cv))
print('e. Sensitivity    :',mean(dt_recall_cv))
print('f. Specificity    :(tidak tersedia dalam scoring cross_val_score)')
print('g. F1-Measure     :',mean(dt_f1_cv))

Pengukuran K-fold menggunakan cross_val_score
a. Accuracy       : 0.7811311279894545
b. ROC-Curve Score: 0.7789924481649486
c. Precision      : 0.7268674628263669
d. Recall         : 0.7251691108407525
e. Sensitivity    : 0.7251691108407525
f. Specificity    :(tidak tersedia dalam scoring cross_val_score)
g. F1-Measure     : 0.7211132166737799

In [ ]:
###########################################################33

In [ ]:
#svm
svmc = svm.SVC(kernel='linear')
svmc.fit(X_train_split, y_train_split)
y_pred_svmc = svmc.predict(X_test_split)

In [ ]:
svmc_acc = accuracy_score(y_test_split,y_pred_svmc)
svmc_roc = roc_auc_score(y_test_split, y_pred_svmc)
svmc_prec = precision_score(y_test_split, y_pred_svmc)
svmc_recall = recall_score(y_test_split, y_pred_svmc)
#svmc_spec = recall_score(y_test_split, y_pred_svmc,pos_label=2)
svmc_f1 = f1_score(y_test_split, y_pred_svmc)
print('Pengukuran menggunakan train_test_split dengan sklearn.metrics')
print('a. Accuracy       :',svmc_acc)
print('b. ROC-Curve Score:',svmc_roc)
print('c. Precision      :',svmc_prec)
print('d. Recall         :',svmc_recall)
print('e. Sensitivity    :',svmc_recall)
print('f. Specificity    : (tidak tersedia di sklearn.metrics)')
print('g. F1-Measure     :',svmc_f1)

Pengukuran menggunakan train_test_split dengan sklearn.metrics
a. Accuracy       : 0.7910447761194029
b. ROC-Curve Score: 0.7781029437080392
c. Precision      : 0.7722772277227723
d. Recall         : 0.7027027027027027
e. Sensitivity    : 0.7027027027027027
f. Specificity    : (tidak tersedia di sklearn.metrics)
g. F1-Measure     : 0.7358490566037735

In [ ]:
matrix = confusion_matrix(y_test_split,y_pred_svmc)
print('Confusion matrix')
print(matrix)
tp = (matrix[0][0])
fp = (matrix[0][1])
fn = (matrix[1][0])
tn = (matrix[1][1])
print("TP = ",tp)
print("FP = ",fp)
print("FN = ",fn)
print("TN = ",tn,'\n')
recall = tp/(tp+fn)
specifity = tn/(tn+fp)
accuracy = (tp+tn)/(tp+fn+fp+tn)
precision = tp/(tp+fp)
f1 = 2*(precision*recall)/(precision+recall)
#t = tp / 2*(tp+fn)
#u = tn / 2*(tn+fp)
#roc = tp*fp+2*tp*tn+2*fn*tn/(tp+fn)*(fp+tn)
print('Pengukuran menggunakan perhitungan manual\ndengan confusion matrix (train_test_split)')
print('a. Accuracy       :',accuracy)
print('b. ROC-Curve Score:(tidak ada formula yang pasti)')
print('c. Precision      :',precision)
print('d. Recall         :',recall)
print('e. Sensitivity    :',recall)
print('f. Specificity    :',specifity)
print('g. F1-Measure     :',f1)

Confusion matrix
[[134  23]
 [ 33  78]]
TP =  134
FP =  23
FN =  33
TN =  78

Pengukuran menggunakan perhitungan manual
dengan confusion matrix (train_test_split)
a. Accuracy       : 0.7910447761194029
b. ROC-Curve Score:(tidak ada formula yang pasti)
c. Precision      : 0.8535031847133758
d. Recall         : 0.8023952095808383
e. Sensitivity    : 0.8023952095808383
f. Specificity    : 0.7722772277227723
g. F1-Measure     : 0.8271604938271604

In [ ]:
print(classification_report(y_test_split,y_pred_svmc))

              precision    recall  f1-score   support

           0       0.80      0.85      0.83       157
           1       0.77      0.70      0.74       111

    accuracy                           0.79       268
   macro avg       0.79      0.78      0.78       268
weighted avg       0.79      0.79      0.79       268

In [ ]:
svmc_acc_cv = cross_val_score(svmc, X, y, cv=kf, scoring='accuracy')
try:
    svmc_roc_cv = cross_val_score(svmc, X, y, cv=kf, scoring='roc_auc')
except ValueError:
    svmc_roc_cv = 0
svmc_prec_cv = cross_val_score(svmc, X, y, cv=kf, scoring='precision')
svmc_recall_cv = cross_val_score(svmc, X, y, cv=kf, scoring='recall')
svmc_f1_cv = cross_val_score(svmc, X, y, cv=kf, scoring='f1')
print('Pengukuran K-fold menggunakan cross_val_score')
print('a. Accuracy       :',mean(svmc_acc_cv))
print('b. ROC-Curve Score:',mean(svmc_roc_cv))
print('c. Precision      :',mean(svmc_prec_cv))
print('d. Recall         :',mean(svmc_recall_cv))
print('e. Sensitivity    :',mean(svmc_recall_cv))
print('f. Specificity    :(tidak tersedia dalam scoring cross_val_score)')
print('g. F1-Measure     :',mean(svmc_f1_cv))

Pengukuran K-fold menggunakan cross_val_score
a. Accuracy       : 0.786761659657272
b. ROC-Curve Score: 0.8262535960742934
c. Precision      : 0.7393720546479754
d. Recall         : 0.6797917371051699
e. Sensitivity    : 0.6797917371051699
f. Specificity    :(tidak tersedia dalam scoring cross_val_score)
g. F1-Measure     : 0.7079646458574931